@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.cart{
	&__content, h2{
		flex-wrap: wrap; 
		margin: auto; 
		justify-content: space-around;
		max-width: 100%;
		
	}
	&__form{
		display: flex;
		margin:auto;
	}
	h2{
		font-family: fonts(oswald);
		padding-bottom: 30px;
		max-width: 1200px; 
		
	}
	h3{
		padding-bottom: 10px; 
		font-family: fonts(oswald);
	}
	&__buy p{
		font-family: fonts(helvetica);
		padding-bottom: 205px; 
	}
	&__col{
		width: 33.333%;
		padding: 10px; 
		
	}
	&__buy{
		width: 66.667%;
		padding: 10px; 
	}
	
	&__image{
		max-width: 100%;
		flex: 0 0 100px; 
	}
	&__row{
		display: flex; 
		flex-wrap: wrap; 
		max-width: 1220px; 
		margin: auto;  
		flex-direction: row; 
	}
	fieldset{
		border-style: none; 	
	}
	
	button{
		border-width: 1px; 
		border-color: grey; 
		padding: 5px; 
		background-color: white; 
		border-radius: 2px; 
		max-width:120px;
		transition: 0.5s; 
		
	}
	button:hover{
		background-color:colors(pink);
		
	}
	
	button img{
		//display: inline-block;
		//vertical-align:middle;
		//text-align:right;
		height:15%;
		width:15%;
		
	}
	&__form{
		display: flex;  
		margin: auto; 
		flex-direction: row; 
		justify-content: space-around;
		max-width: 800px;

	}
	&__formcol{
		max-width: 40%; 
		margin: 10px; 
		flex-direction: column; 
		align-content: center; 
	}
	fieldset{
		font: fonts(helvetica)
	}

	.form__button{
		width: 100px; 
		border-color: pink; 
		padding: 5px; 
		background-color: colors(pink); 
		border-radius: 2px; 
		max-width:300px;
		transition: 0.5s; 
		justify-content: center; 
		margin: auto; 
	}


		
}
@media(min-width: 800px){
	.cart__form{
		width: 100%;
	}
}
