@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.cart{
	&__content, h2{
		flex-wrap: wrap; 
		margin: auto; 
		justify-content: space-around;
		max-width: 100%;
		 
	}
	&__form{
		flex-wrap: wrap; 
		margin: auto; 
		justify-content: space-around;
		max-width: 100%;
	}
	h2{
		font-family: fonts(oswald);
		padding-bottom: 30px;
		
	}
	h3{
		padding-bottom: 10px; 
		font-family: fonts(oswald);
	}
	p{
		font-family: fonts(verdana);
		padding-bottom: 205px; 
	}
	&__col{
		width: 33.333%;
		padding: 10px; 

	}
	&__buy{
		width: 66.667%;
		padding: 10px; 
	}

	&__image{
		max-width: 100%;
		flex: 0 0 100px; 
	}
	&__row{
		display: flex; 
		flex-wrap: wrap; 
		max-width: 1220px; 
		margin: auto;  
		flex-direction: row; 
	}
	fieldset{
		border-style: none; 	
	}
	
	button{
		border-width: 1px; 
		border-color: grey; 
		padding: 5px; 
		background-color: white; 
		border-radius: 2px; 
		max-width:120px;
		transition: 0.5s; 
		
	}
	button:hover{
		background-color:colors(pink);
		
	}

	button img{
		//display: inline-block;
		//vertical-align:middle;
		//text-align:right;
		height:15%;
		width:15%;
		
	}
	&__form{
		display: flex; 
		max-width: 100%; 
		margin: auto; 
		flex-direction: row; 
	}
	&__formcol{
		width: 50%; 
		margin: 10px; 
		flex-direction: column; 
		align-content: center; 
	}
}
