$max-width: 1200px;
$gutter: 20px;
$colors: (
	black: #000000,
	white: #ffffff,
	green: #afb281,
	blue: #cee8ff,
	yellow: #fcffd2,
	pink: #cc9694
);
$lettersize: 16px;


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

$fonts: (
	opensans: 'Open Sans',
	helvetica: 'Helvetica',
	oswald: 'Oswald', 
	verdana: 'Verdana',
);





