@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

footer {
	background-color: colors(pink);
	padding: 2rem 0;

	p {
		margin: 4rem 0rem 1rem 0;
		text-align: center;
	}
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
	max-width: 93%;
	
	&__col {
		display: flex;
		flex-direction: column;
		width: 48%;
		margin: 2rem 0;

	}
	h5 {
		margin-bottom: 1rem;
		font-size: 1.5rem;
		font-family: fonts(verdana);
		color: colors(black);
		font-weight: bold;
	}
	a {
		margin: 0.3rem 0;
		font-family: fonts(verdana);
		color: colors(yellow);
		text-decoration: none;
	}

	
} 
@media(min-width: 900px){
	.footer {
		flex-direction: row;
		max-width: initial;
		justify-content: space-around;
		max-width: 9%;
		max-width: 1220px;
	}
	
	.footer__col{
		width: 23.3%;
		flex-wrap: nowrap;
	}

}
