@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

header{
	background-color: colors(green);
	text-align: center;
	padding: $gutter;
	font-family: fonts(oswald);


	h1{
		font-size:2rem;

	}
	a{
		text-decoration: none;
		color: colors(black);
		font-size: 0.8rem;
	}

	.cart{
		float: right;
		text-align:right;
		font-family: fonts(verdana);
	}

	img{
		display: inline-block;
		vertical-align:middle;
		text-align:right;
		height:5%;
		width:5%;
	}


}

