@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}


header{
	background-color: colors(green);
	text-align: center;
	font-family: fonts(oswald);
	padding-bottom: $gutter;
	padding-top: $gutter;
	z-index:-1;
	width:100%;

	img{
		max-width: 15px;
		max-height: 15px;
	}

	.headercontent {
		display:flex;
		flex-direction:row;
		justify-content:center;
		width:80%;
		position:absolute;
		z-index:1;
		padding-left: 20%;
	}


	h1{
		font-size:2rem;

	}
	a{
		padding: 0px 10px;
		text-decoration: none;
		color: colors(black);
		font-size: 0.8rem;
		transition: 0.5s;
	}

	a:hover{
		color: colors(blue);
		
	}
	.header__cart:hover{
		color: colors(blue);
	}

	.header__cart{
		margin: auto;
		text-align:right;
		font-family: fonts(verdana);
		padding-bottom: $gutter;
		max-width: 1200px;
	}

	img{
		display: inline-block;
		vertical-align:middle;
		text-align:right;

	}

	@media(max-width:500px){
		.headercontent{
			position:relative;
		}
	
		.header__cart{
			position:relative;
			text-align:center;
		}
	}

	@media(min-width: 1200px){
		h1{
			font-size:4em;
		}
		a{
			font-size:1.5em;
		}
	
	}

}


@media(min-width:1500px){
	header .headercontent{
		width: 50%;
		padding-left: 50%;
	}	
}