@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
main{
	display: flex;

	.content__row{
		display:flex;
		flex-direction: row;
	}

	.content__col{
		width:50%;

		h3{
			font-family: fonts(oswald);
		}

		p{
			font-family: fonts(verdana);
			font-weight: lighter;
			font-size: 12px;
		}

		img{
			display: flex;
			max-width: 100%;
		}
		button{
			border-width: 10px;
			border-style: colors(pink),solid;
			border-radius: 8px;
			border-color: colors(pink);
			background-color:colors(pink);
		}
	}	
}