@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.content {
	display: flex;
	flex-wrap: wrap; 
	margin: auto; 
	margin-top: 30px;
	justify-content: space-around;
	max-width: 97%;

	
	h2, h3{
		font-family: fonts(oswald);
	}

	p{
		font-family: fonts(verdana);
	}

	// &__row{
	//  flex-direction: row; 
	// 	flex-wrap: wrap; 
	// 	justify-content: space-around;
	// 	display: flex; 
	 

	&__col{
		flex-direction: column;
		justify-content: space-around;
		display: grid; 
		display: flex; 
		max-width: 47%;
	
	}
	&__image{
		flex: 0 0 100px;
	}
	&__img{
		max-width: 100%;
	}

	fieldset{
		border-style: none; 
	}
	button{
		border-width: 1px; 
		border-color: grey; 
		padding: 5px; 
		background-color: white; 
	}
	&__button{
	 
	}
}