@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.content {
	display: flex;
	flex-wrap: wrap; 
	margin: auto; 
	margin-top: 30px;
	justify-content: space-around;
	max-width: 97%;
	
	
	h2, h3{
		font-family: fonts(oswald);
		margin-top: 15px; 
	}
	
	p, legend{
		font-family: fonts(verdana);
		margin-top: 15px; 
	}
	
	&__col{
		flex-direction: column;
		justify-content: space-around;
		display: grid; 
		display: flex; 
		max-width: 93%;
		padding-bottom: 30px; 
		
	}
	&__image{
		flex: 0 0 100px;
	}
	&__img{
		max-width: 100%;
	}
	
	fieldset{
		border-style: none; 	
	}
	
	button{
		border-width: 1px; 
		border-color: grey; 
		padding: 5px; 
		background-color: white; 
		border-radius: 2px; 
		max-width:120px;
		transition: 0.5s; 
		
	}
	button:hover{
		background-color:colors(pink);
		
	}
	
	button img{
		height:15%;
		width:15%;	
	}
	
}

input[type=number]{
	padding: 6px; 
}

@media(min-width:800px){
	.content__col{
		padding-left:$gutter;
		padding-right:$gutter;
		width: 50%;
	}
	.content{
		max-width: 100%;
		max-width: 1200px;
	}
}

@media(min-width:1500px){
	.content__col{
		padding-left:$gutter;
		padding-right:$gutter;
		width: 33.3333333%;
		
	}
	.content{
		max-width: 100%;
		max-width: 1200px;
	}	
}
