@import "scss/config";

@function colors($color-name){
	@return map-get($colors, $color-name)
}
@function fonts($font-name){
	@return map-get($fonts, $font-name)
}

.content {
	display: flex;
	flex-wrap: wrap; 
	margin: auto; 
	margin-top: 30px;
	justify-content: space-around;
	max-width: 97%;

	
	h2, h3{
		font-family: fonts(oswald);
		margin-top: 15px; 
	}

	p, legend{
		font-family: fonts(verdana);
		margin-top: 15px; 
	}

	// &__row{
	//  flex-direction: row; 
	// 	flex-wrap: wrap; 
	// 	justify-content: space-around;
	// 	display: flex; 
	 

	&__col{
		flex-direction: column;
		justify-content: space-around;
		display: grid; 
		display: flex; 
		max-width: 93%;
		padding-bottom: 30px; 
	
	}
	&__image{
		flex: 0 0 100px;
	}
	&__img{
		max-width: 100%;
	}

	fieldset{
		border-style: none; 	
	}
	
	button{
		border-width: 1px; 
		border-color: grey; 
		padding: 5px; 
		background-color: white; 
		border-radius: 2px; 
		max-width:120px;
		
	}

	button img{
		//display: inline-block;
		//vertical-align:middle;
		//text-align:right;
		height:15%;
		width:15%;
		
	}
	
}

input[type=number]{
	padding: 6px; 
}