@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: blue;

  // TODO fleiri grunn stillingar
}



// TODO sækja allar sass skrár
@import "scss/footer";
@import "scss/header";
@import "scss/cart";
@import "scss/home";
@import "scss/staff";
@import "scss/products";

